@config "../tailwind.config.js";
@import "tailwindcss";

@font-face {
  font-family: 'NetflixSans';
  src: url('../src/assets/fonts/NetflixSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NetflixSans-Medium';
  src: url('../src/assets/fonts/NetflixSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'NetflixSans-Bold';
  src: url('../src/assets/fonts/NetflixSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NetflixSans-Light';
  src: url('../src/assets/fonts/NetflixSans-Light.ttf') format('truetype');
  font-weight: 300;
}

html {
  font-family: 'NetflixSans', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}